@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat'),
    url(./styles/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Monserrat';
  src: local('MonserratBold'),
    url(./styles/fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Monserrat';
  src: local('MonserratLight'),
    url(./styles/fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Monserrat, sans-serif, serif;
  overflow: hidden;
}
